@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
html,
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	border: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
ul{
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	margin-top: 0;
}
.rotate(@deg){
	-ms-transform: rotate(@deg); /* IE 9 */
    -webkit-transform: rotate(@deg); /* Chrome, Safari, Opera */
    transform: rotate(@deg);
}
.gradient(@color1,@color2){
	background: @color1; /* Old browsers */
	background: -moz-linear-gradient(top,  @color1 0%, @color2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(100%,@color2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  @color1 0%,@color2 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top,  @color1 0%,@color2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  @color1 0%,@color2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  @color1 0%,@color2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='@{color1}', endColorstr='@{color2}'); /* IE6-9 */
}
.transition(@second){
	-webkit-transition: @second;
	-moz-transition: @second;
	-o-transition: @second;
	-ms-transition: @second;
	transition: @second;
}
.translateX(@x){
	-webkit-transform: translateX(@x);
	-moz-transform: translateX(@x);
	-o-transform: translateX(@x);
	-ms-transform: translateX(@x);
	transform: translateX(@x);
}
.disable_selection(){
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.clearfix(){
	&:before,
	&:after {
		content: ".";
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}
	&:after {
		clear: both;
	}
	zoom: 1; /* IE < 8 */
}

.box-sizing(){
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.desaturate() {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.saturate() {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}