@import "style_functions.less";

body{
	font-size: 16px;
	background-size: cover;
}
@header_height: 50px;
header{
	z-index: 100;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: @header_height;
	background-color: #2f72e6;
	box-shadow: 0px 1px 5px rgba(0,0,0,.4);
	color: white;
	line-height: @header_height;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	strong{
		display: inline-block;
		width: 340px;
		height: 33px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url(../img/logo@2x.png);
		font-size: 0;
		margin-top: 8px;
	}
	input[name="sendMessage"]{
		float: right;
		border-radius: 3px;
		margin-top: 8px;
		margin-right: 0px;
		padding: 0;
		border: 0;
		font-size: 20px;
		padding: 5px 10px;
		width: 40%;
		background-image: url(../img/iconmonstr-paper-plane-icon-128.png);
		background-position: right center;
		background-repeat: no-repeat;
		background-size: contain;
		background-origin: content-box;
		&:focus{
			outline: none;
		}
	}
	pre{
		background-color: black;
		font-size: 10px;
		line-height: 10px;
		height: 300px;
		overflow: auto;
	}
}
.canvas{
	position: fixed;
	left: 0;
	top: @header_height;
	width: 80%;
	bottom: 0;
	background: transparent;
	background-size: cover;
	&.hideInactive{
		.avatar:not(.websoketActive):not(.websoketActiveLogOff){
			-webkit-transform: scale(0);
			-webkit-transition: .2s;
		}
	}
}
.chatRoom{
	position: fixed;
	right: 0;
	top: @header_height;
	bottom: 0;
	background-color: rgba(255,255,255,.7);
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
	width: 20%;
	overflow: auto;
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 20px;
	h3{
		margin-left: 10px;
		text-transform: uppercase;
		color: #ababab;
	}
	ul{
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			padding: 0px 0px 0px 10px;
			&+li{
				.message_rip{
					border-top: 1px solid #e1e1e1;
				}
			}
			.clearfix();
			.avatar_rip{
				float: left;
				width: 24px;
				margin-top: 10px;
				background-color: gray;
				border-radius: 99px;
				.box-sizing();
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				background-image: url(../img/user_blank.png);
				border: 1px solid white;
				box-shadow: 0px 1px 3px rgba(0,0,0,.3);
				&::after {
					content: "";
					padding-top: 100%;
					display: block;
					height: 0;
					clear: both;
					visibility: hidden;
				}
			}
			.message_rip{
				.box-sizing();
				padding: 5px 10px 5px 0px;
				margin-left: 35px;
				text-align: left;
				text-shadow: 0px 1px 0px white;
				span{
					display: block;
					&.label{
						opacity: .4;
						font-size: 10px;
					}
				}
			}
		}
	}
}
.backgroundgroup,
.avatargroup{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.backgroundgroup{
	z-index: -100;
}
@avatar_size: 2.5rem;
@avatar_size_hover: 5rem;
@avatar_size_biz: 5.5rem;
.avatar{
	width: @avatar_size;
	height: @avatar_size;
	border-radius: 99px;
	background-color: gray;
	position: absolute;
	margin-top: -(@avatar_size/2);
	margin-left: -(@avatar_size/2);
	box-sizing: border-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/user_blank.png);
	border: 2px solid white;
	top: auto;
	left: auto;
	opacity: .8;
	-webkit-transition: 2.5s;
	z-index: 0;
	box-shadow: 0px 1px 4px rgba(0,0,0,.2);
	&.center{
		left: 50%;
		top: 50%;
	}
	&.websoketActive{
		opacity: 1;
		box-shadow: 0px 1px 4px rgba(0,0,0,.5);
		border-color: #00ff3d;
		z-index: 50;
	}
	&.websoketActiveLogOff{
		opacity: 1;
		border-color: #ff1f00;
		z-index: 50;
	}
	&.user_active{
		width: @avatar_size_biz;
		height: @avatar_size_biz;
		margin-top: -(@avatar_size_biz/2);
		margin-left: -(@avatar_size_biz/2);
		z-index: 99;
		opacity: 1;
		border-color: #00ff3d;
		&:hover{
			width: @avatar_size_biz;
			height: @avatar_size_biz;
			margin-top: -(@avatar_size_biz/2);
			margin-left: -(@avatar_size_biz/2);
			z-index: 99;
		}
	}
	&.active,
	&:hover{
		width: @avatar_size_hover;
		height: @avatar_size_hover;
		margin-top: -(@avatar_size_hover/2);
		margin-left: -(@avatar_size_hover/2);
		z-index: 99;
		-webkit-transition: .2s;
		cursor: pointer;
		.tooltip{
			-webkit-transform: scale(1) translateX(-50%);
		}
		form{
			opacity: 1;
		}
	}
	&.hide{
		-webkit-transform: scale(0);
	}
	&.active{
		border-color: #2f72e6;
		.tooltip{
			-webkit-transform: scale(1) translateX(-50%);
		}
	}
	&.maxImportance{
		width: @avatar_size_hover;
		height: @avatar_size_hover;
		margin-top: -(@avatar_size_hover/2);
		margin-left: -(@avatar_size_hover/2);
		z-index: 999;
		-webkit-transition: .2s;
	}
	.message{
		@arrow_size: 8px;
		-webkit-transition: .2s;
		display: inline-block;
		position: absolute;
		left: 50%;
		bottom: 110%;
		background-color: #2f72e6;
		-webkit-transform: scale(0) translateX(-50%);
		-webkit-transform-origin: 0% 100%;
		font-size: 12px;
		padding: 5px 10px;
		border-radius: 3px;
		color: white;
		box-shadow: 0px 1px 2px rgba(0,0,0,.5);
		text-shadow: 0px 1px 2px rgba(0,0,0,.5);
		text-align: left;
		margin-top: @arrow_size;
		max-width: 800%;
		&::after {
			content: "";
			display: block;
			height: 0;
			width: 0;
			position: absolute;
			left: 50%;
			bottom: 0;
			border-color: transparent;
			border-style: solid;
			border-width: @arrow_size;
			border-top-color: #2f72e6;
			margin-bottom: -@arrow_size*2;
			margin-left: -@arrow_size;
		}
		&.show{
			-webkit-transform: scale(1) translateX(-50%);
		}
		span{
			display: block;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space:nowrap;
			&.label{
				opacity: .5;
			}
			&.label{
				text-align: center;
			}
		}
	}
	.tooltip{
		@arrow_size: 8px;
		-webkit-transition: .2s;
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 110%;
		background-color: rgba(0,0,0,.7);
		-webkit-transform: scale(0) translateX(-50%);
		-webkit-transform-origin: 0% 0%;
		font-size: 10px;
		padding: 5px 10px;
		border-radius: 3px;
		color: white;
		box-shadow: 0px 1px 2px rgba(0,0,0,.5);
		text-shadow: 0px 1px 2px rgba(0,0,0,.5);
		text-align: center;
		margin-top: @arrow_size;
		&::after {
			content: "";
			display: block;
			height: 0;
			width: 0;
			position: absolute;
			left: 50%;
			top: 0;
			border-color: transparent;
			border-style: solid;
			border-width: @arrow_size;
			border-bottom-color: rgba(0,0,0,.7);
			margin-top: -@arrow_size*2;
			margin-left: -@arrow_size;
		}
		span{
			display: block;
			overflow: hidden;
			white-space:nowrap;
			text-transform: uppercase;
			&.label{
				opacity: .5;
			}
		}
	}
	form{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.5);
		border-radius: 99px;
		overflow: hidden;
		-webkit-transition: .2s;
		opacity: 0;
		padding: 25px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		background-origin: content-box;
		background-image: url(../img/iconmonstr-photo-camera-4-icon-64.png);
		.box-sizing();
		input[type="file"]{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: yellow;
			opacity: 0;
			cursor: pointer;
		}
		button{
			display: none;
		}
	}
}
.dot{
	position: fixed;
	left: 0;
	top: 0;
	width: 2px;
	height: 2px;
	border-radius: 99px;
	margin-top: -1px;
	margin-left: -1px;
	background: red;
	-webkit-transition: .2s;
}
.circle{
	@space: 10rem;
	width: @space + @avatar_size;
	height: @space + @avatar_size;
	background-color: transparent;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	border-radius: 100%;
	box-sizing: border-box;
	border: 1px solid #e1e1e1;
	-webkit-transition: .2s;
	box-shadow: 0px 0px 0px 1px rgba(255,255,255,.5),
				inset 0px 0px 0px 1px rgba(255,255,255,.5);
	&.x2{
		width: @space*2 + @avatar_size;
		height: @space*2 + @avatar_size;
	}
	&.x3{
		width: @space*3 + @avatar_size;
		height: @space*3 + @avatar_size;
	}
	&.x4{
		width: @space*4 + @avatar_size;
		height: @space*4 + @avatar_size;
	}
	&.x5{
		width: @space*5 + @avatar_size;
		height: @space*5 + @avatar_size;
	}
	&.x6{
		width: @space*6 + @avatar_size;
		height: @space*6 + @avatar_size;
	}
	&.x7{
		width: @space*7 + @avatar_size;
		height: @space*7 + @avatar_size;
	}
	&.x8{
		width: @space*8 + @avatar_size;
		height: @space*8 + @avatar_size;
	}
	&.radarAnimation{
		border-color: transparent;
		background-image: url(../img/radar-bg.png);
		background-position: center center;
		background-size: contain;
		-webkit-animation: radarAnimation 2s linear infinite;
		-webkit-transform: none;
		-webkit-transform-origin: 0% 0%;
		z-index: -100;
	}
}
.popIn{
	-webkit-animation: popup_containerAnimation .5s ease;
}
.toolsButtons{
	position: fixed;
	left: 0;
	top: 50px;
	margin: 10px;
	z-index: 99;
	.button{
		@size: 40px;
		width: @size;
		height: @size;
		text-align: center;
		background-color: white;
		line-height: @size;
		border-radius: 45px;
		font-size: 20px;
		font-weight: bold;
		border: 1px solid #9d9d9d;
		color: #9d9d9d;
		box-shadow: 0px 4px 10px -7px rgba(0,0,0,.5),
					inset 0px -1px 2px rgba(0,0,0,.2);
		cursor: pointer;
		.disable_selection();
		&:hover{
			box-shadow: 0px 4px 10px -7px rgba(0,0,0,.5);
			&:active{
				box-shadow: inset 0px 0px 3px rgba(0,0,0,0.2);
			}
		}
		&+.button{
			margin-top: 10px;
		}
	}
}

@media screen and (min-width: 0px) and (max-width: 740px) {
	#chatRoom{
		display: none;
	}
	.canvas{
		width: 100%;
	}
	header{
		height: 90px;
		strong{
			width: 100%;
			float: none;
		}
		input[name="sendMessage"]{
			display: block;
			width: 100%;
			.box-sizing();
		}
	}
}
.interfaceButtons{
	position: fixed;
	left: 0;
	bottom: 0px;
	margin: 10px;
	z-index: 99;
	.button{
		@size: 40px;
		width: @size;
		height: @size;
		text-align: center;
		background-color: white;
		line-height: @size;
		border-radius: 45px;
		font-size: 20px;
		font-weight: bold;
		border: 1px solid #9d9d9d;
		color: #9d9d9d;
		box-shadow: 0px 4px 10px -7px rgba(0,0,0,.5),
					inset 0px -1px 2px rgba(0,0,0,.2);
		cursor: pointer;
		.disable_selection();
		&:hover{
			box-shadow: 0px 4px 10px -7px rgba(0,0,0,.5);
			&:active{
				box-shadow: inset 0px 0px 3px rgba(0,0,0,0.2);
			}
		}
		&+.button{
			margin-top: 10px;
		}
	}
}
ul.rooms{
	margin: 0;
	margin-bottom: 10px;
	list-style: none;
	padding: 0;
	margin-top: -5px;
	li{
		display: inline-block;
		line-height: 35px;
		margin-bottom: 10px;
		&:first-child{
			display: block;
			margin-right: 10px;
			text-align: center;
		}
		a{
			display: inline-block;
			color: white;
			line-height: normal;
			cursor:pointer;
			text-shadow: 0px 1px 0px rgba(255,255,255,.5);
			border: 1px solid #8a1085;
			background-color: #8f118c;
			box-shadow: 0px 1px 2px rgba(0,0,0,.4),
						inset 0px 0px 0px 1px #d030c8,
						inset 0px 15px 25px -10px rgba(255, 255, 255, 0.4);
			padding: 5px 10px;
			border-radius: 3px;
			&:hover{
				box-shadow: 0px 1px 2px rgba(0,0,0,.4),
						inset 0px 15px 25px -10px rgba(255, 255, 255, 0.4);
				&:active{
					box-shadow: 0px 1px 2px rgba(0,0,0,.4),
								inset 0px 15px 25px -10px rgba(0,0,0, 0.4);
				}
			}
			&.active{
				box-shadow: 0px 1px 2px rgba(0,0,0,.4),
							inset 0px 15px 25px -10px rgba(0,0,0, 0.4);
			}
			&.public_ashtag_button{
				display: block;
				border: 1px solid #2f72e6;
				background-color: #2f72e6;
				box-shadow: 0px 1px 2px rgba(0,0,0,.4),
						inset 0px 0px 0px 1px #4f9fff,
						inset 0px 15px 25px -10px rgba(255, 255, 255, 0.4);
			}
		}
	}
}
.interfaceCount{
	position: absolute;
	right: 0;
	bottom: 0px;
	margin: 10px;
	font-size: 12px;
	color: #9d9d9d;
	text-align: right;
	text-shadow: 0px 1px 0px white;
	z-index: 99;
}

@-webkit-keyframes popup_containerAnimation {
	0% { 	-webkit-transform: scale(0) }
	60% { 	-webkit-transform: scale(1.15) }
	80% { 	-webkit-transform: scale(0.98) }
	100% {	-webkit-transform: scale(1) }
}
@-webkit-keyframes radarAnimation {
	0% { 	-webkit-transform: rotateZ(0deg) translateX(-50%) translateY(-50%); }
	100% {	-webkit-transform: rotateZ(360deg) translateX(-50%) translateY(-50%); }
}

.hide{
	display: none;
}