2015-01-25 10:10:49: 10.10.30.34 (1) has connected.
2015-01-25 10:10:49: <pre>Array
(
    [0] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 1
            [message] => You have joined the room.
            [clientID] => 1
        )

)
</pre>
2015-01-25 10:10:49: Chat Set -> 1
2015-01-25 10:10:49: UserName Set -> 6c:40:08:97:fe:c4
2015-01-25 10:10:49: MAC Address Set -> 6c:40:08:97:fe:c4
2015-01-25 10:10:49: 6c:40:08:97:fe:c4
2015-01-25 10:10:56: 10.10.30.145 (2) has connected.
2015-01-25 10:10:56: <pre>Array
(
    [0] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 2
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 1
        )

    [1] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 2
            [message] => You have joined the room.
            [clientID] => 2
        )

    [2] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 6c:40:08:97:fe:c4
            [userId] => 1
            [message] => 6c:40:08:97:fe:c4 was already in the room.
            [clientID] => 2
            [macAddress] => 6c:40:08:97:fe:c4
        )

)
</pre>
2015-01-25 10:10:56: Chat Set -> 1
2015-01-25 10:10:56: UserName Set -> 00:26:bb:10:a1:ba
2015-01-25 10:10:56: MAC Address Set -> 00:26:bb:10:a1:ba
2015-01-25 10:10:56: 00:26:bb:10:a1:ba
2015-01-25 10:13:12: 10.10.30.65 (3) has connected.
2015-01-25 10:13:12: <pre>Array
(
    [0] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 1
        )

    [1] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 2
        )

    [2] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => You have joined the room.
            [clientID] => 3
        )

    [3] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 6c:40:08:97:fe:c4
            [userId] => 1
            [message] => 6c:40:08:97:fe:c4 was already in the room.
            [clientID] => 3
            [macAddress] => 6c:40:08:97:fe:c4
        )

    [4] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 00:26:bb:10:a1:ba
            [userId] => 2
            [message] => 00:26:bb:10:a1:ba was already in the room.
            [clientID] => 3
            [macAddress] => 00:26:bb:10:a1:ba
        )

)
</pre>
2015-01-25 10:13:12: Chat Set -> 1
2015-01-25 10:13:12: UserName Set -> 14:10:9f:e2:ce:05
2015-01-25 10:13:12: MAC Address Set -> 14:10:9f:e2:ce:05
2015-01-25 10:13:12: 14:10:9f:e2:ce:05
2015-01-25 10:14:44: 10.10.30.65 (3) has disconnected.
2015-01-25 10:14:46: 10.10.30.65 (3) has connected.
2015-01-25 10:14:46: <pre>Array
(
    [0] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 1
        )

    [1] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 2
        )

    [2] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => You have joined the room.
            [clientID] => 3
        )

    [3] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 6c:40:08:97:fe:c4
            [userId] => 1
            [message] => 6c:40:08:97:fe:c4 was already in the room.
            [clientID] => 3
            [macAddress] => 6c:40:08:97:fe:c4
        )

    [4] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 00:26:bb:10:a1:ba
            [userId] => 2
            [message] => 00:26:bb:10:a1:ba was already in the room.
            [clientID] => 3
            [macAddress] => 00:26:bb:10:a1:ba
        )

)
</pre>
2015-01-25 10:14:46: Chat Set -> 1
2015-01-25 10:14:46: UserName Set -> 14:10:9f:e2:ce:05
2015-01-25 10:14:46: MAC Address Set -> 14:10:9f:e2:ce:05
2015-01-25 10:14:46: 14:10:9f:e2:ce:05
2015-01-25 10:15:08: 10.10.30.65 (3) has disconnected.
2015-01-25 10:15:08: 10.10.30.65 (3) has connected.
2015-01-25 10:15:08: <pre>Array
(
    [0] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 1
        )

    [1] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 2
        )

    [2] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => You have joined the room.
            [clientID] => 3
        )

    [3] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 6c:40:08:97:fe:c4
            [userId] => 1
            [message] => 6c:40:08:97:fe:c4 was already in the room.
            [clientID] => 3
            [macAddress] => 6c:40:08:97:fe:c4
        )

    [4] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 00:26:bb:10:a1:ba
            [userId] => 2
            [message] => 00:26:bb:10:a1:ba was already in the room.
            [clientID] => 3
            [macAddress] => 00:26:bb:10:a1:ba
        )

)
</pre>
2015-01-25 10:15:08: Chat Set -> 1
2015-01-25 10:15:08: UserName Set -> 14:10:9f:e2:ce:05
2015-01-25 10:15:08: MAC Address Set -> 14:10:9f:e2:ce:05
2015-01-25 10:15:08: 14:10:9f:e2:ce:05
2015-01-25 10:15:16: 10.10.30.65 (3) has disconnected.
2015-01-25 10:15:16: 10.10.30.65 (3) has connected.
2015-01-25 10:15:16: <pre>Array
(
    [0] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 1
        )

    [1] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 2
        )

    [2] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => You have joined the room.
            [clientID] => 3
        )

    [3] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 6c:40:08:97:fe:c4
            [userId] => 1
            [message] => 6c:40:08:97:fe:c4 was already in the room.
            [clientID] => 3
            [macAddress] => 6c:40:08:97:fe:c4
        )

    [4] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 00:26:bb:10:a1:ba
            [userId] => 2
            [message] => 00:26:bb:10:a1:ba was already in the room.
            [clientID] => 3
            [macAddress] => 00:26:bb:10:a1:ba
        )

)
</pre>
2015-01-25 10:15:16: Chat Set -> 1
2015-01-25 10:15:16: UserName Set -> 14:10:9f:e2:ce:05
2015-01-25 10:15:16: MAC Address Set -> 14:10:9f:e2:ce:05
2015-01-25 10:15:16: 14:10:9f:e2:ce:05
2015-01-25 10:15:33: 10.10.30.145 (2) has disconnected.
2015-01-25 10:15:34: 10.10.30.145 (2) has connected.
2015-01-25 10:15:34: <pre>Array
(
    [0] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 2
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 1
        )

    [1] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 2
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 3
        )

    [2] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 2
            [message] => You have joined the room.
            [clientID] => 2
        )

    [3] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 6c:40:08:97:fe:c4
            [userId] => 1
            [message] => 6c:40:08:97:fe:c4 was already in the room.
            [clientID] => 2
            [macAddress] => 6c:40:08:97:fe:c4
        )

    [4] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 14:10:9f:e2:ce:05
            [userId] => 3
            [message] => 14:10:9f:e2:ce:05 was already in the room.
            [clientID] => 2
            [macAddress] => 14:10:9f:e2:ce:05
        )

)
</pre>
2015-01-25 10:15:34: Chat Set -> 1
2015-01-25 10:15:34: UserName Set -> 00:26:bb:10:a1:ba
2015-01-25 10:15:34: MAC Address Set -> 00:26:bb:10:a1:ba
2015-01-25 10:15:34: 00:26:bb:10:a1:ba
2015-01-25 10:15:37: 10.10.30.65 (3) has disconnected.
2015-01-25 10:15:38: 10.10.30.65 (3) has connected.
2015-01-25 10:15:38: <pre>Array
(
    [0] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 1
        )

    [1] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 2
        )

    [2] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => You have joined the room.
            [clientID] => 3
        )

    [3] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 6c:40:08:97:fe:c4
            [userId] => 1
            [message] => 6c:40:08:97:fe:c4 was already in the room.
            [clientID] => 3
            [macAddress] => 6c:40:08:97:fe:c4
        )

    [4] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 00:26:bb:10:a1:ba
            [userId] => 2
            [message] => 00:26:bb:10:a1:ba was already in the room.
            [clientID] => 3
            [macAddress] => 00:26:bb:10:a1:ba
        )

)
</pre>
2015-01-25 10:15:38: Chat Set -> 1
2015-01-25 10:15:38: UserName Set -> 14:10:9f:e2:ce:05
2015-01-25 10:15:38: MAC Address Set -> 14:10:9f:e2:ce:05
2015-01-25 10:15:38: 14:10:9f:e2:ce:05
2015-01-25 10:16:35: 10.10.30.65 (3) has disconnected.
2015-01-25 10:16:35: 10.10.30.65 (3) has connected.
2015-01-25 10:16:35: <pre>Array
(
    [0] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 1
        )

    [1] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 2
        )

    [2] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => You have joined the room.
            [clientID] => 3
        )

    [3] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 6c:40:08:97:fe:c4
            [userId] => 1
            [message] => 6c:40:08:97:fe:c4 was already in the room.
            [clientID] => 3
            [macAddress] => 6c:40:08:97:fe:c4
        )

    [4] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 00:26:bb:10:a1:ba
            [userId] => 2
            [message] => 00:26:bb:10:a1:ba was already in the room.
            [clientID] => 3
            [macAddress] => 00:26:bb:10:a1:ba
        )

)
</pre>
2015-01-25 10:16:35: Chat Set -> 1
2015-01-25 10:16:35: UserName Set -> 14:10:9f:e2:ce:05
2015-01-25 10:16:35: MAC Address Set -> 14:10:9f:e2:ce:05
2015-01-25 10:16:35: 14:10:9f:e2:ce:05
2015-01-25 10:16:55: 10.10.30.65 (3) has disconnected.
2015-01-25 10:16:57: 10.10.30.65 (3) has connected.
2015-01-25 10:16:57: <pre>Array
(
    [0] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 1
        )

    [1] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 2
        )

    [2] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => You have joined the room.
            [clientID] => 3
        )

    [3] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 6c:40:08:97:fe:c4
            [userId] => 1
            [message] => 6c:40:08:97:fe:c4 was already in the room.
            [clientID] => 3
            [macAddress] => 6c:40:08:97:fe:c4
        )

    [4] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 00:26:bb:10:a1:ba
            [userId] => 2
            [message] => 00:26:bb:10:a1:ba was already in the room.
            [clientID] => 3
            [macAddress] => 00:26:bb:10:a1:ba
        )

)
</pre>
2015-01-25 10:16:57: Chat Set -> 1
2015-01-25 10:16:57: UserName Set -> 14:10:9f:e2:ce:05
2015-01-25 10:16:57: MAC Address Set -> 14:10:9f:e2:ce:05
2015-01-25 10:16:57: 14:10:9f:e2:ce:05
2015-01-25 10:17:10: 10.10.30.34 (1) has disconnected.
2015-01-25 10:17:10: 10.10.30.34 (1) has connected.
2015-01-25 10:17:10: <pre>Array
(
    [0] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 1
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 2
        )

    [1] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 1
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 3
        )

    [2] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 1
            [message] => You have joined the room.
            [clientID] => 1
        )

    [3] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 00:26:bb:10:a1:ba
            [userId] => 2
            [message] => 00:26:bb:10:a1:ba was already in the room.
            [clientID] => 1
            [macAddress] => 00:26:bb:10:a1:ba
        )

    [4] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 14:10:9f:e2:ce:05
            [userId] => 3
            [message] => 14:10:9f:e2:ce:05 was already in the room.
            [clientID] => 1
            [macAddress] => 14:10:9f:e2:ce:05
        )

)
</pre>
2015-01-25 10:17:10: Chat Set -> 1
2015-01-25 10:17:10: UserName Set -> 6c:40:08:97:fe:c4
2015-01-25 10:17:10: MAC Address Set -> 6c:40:08:97:fe:c4
2015-01-25 10:17:10: 6c:40:08:97:fe:c4
2015-01-25 10:17:16: 10.10.30.65 (3) has disconnected.
2015-01-25 10:17:18: 10.10.30.65 (3) has connected.
2015-01-25 10:17:18: <pre>Array
(
    [0] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 2
        )

    [1] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 1
        )

    [2] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => You have joined the room.
            [clientID] => 3
        )

    [3] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 00:26:bb:10:a1:ba
            [userId] => 2
            [message] => 00:26:bb:10:a1:ba was already in the room.
            [clientID] => 3
            [macAddress] => 00:26:bb:10:a1:ba
        )

    [4] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 6c:40:08:97:fe:c4
            [userId] => 1
            [message] => 6c:40:08:97:fe:c4 was already in the room.
            [clientID] => 3
            [macAddress] => 6c:40:08:97:fe:c4
        )

)
</pre>
2015-01-25 10:17:18: Chat Set -> 1
2015-01-25 10:17:18: UserName Set -> 14:10:9f:e2:ce:05
2015-01-25 10:17:18: MAC Address Set -> 14:10:9f:e2:ce:05
2015-01-25 10:17:18: 14:10:9f:e2:ce:05
2015-01-25 10:17:29: 10.10.30.65 (3) has disconnected.
2015-01-25 10:17:29: 10.10.30.65 (3) has connected.
2015-01-25 10:17:29: <pre>Array
(
    [0] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 2
        )

    [1] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 1
        )

    [2] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 3
            [message] => You have joined the room.
            [clientID] => 3
        )

    [3] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 00:26:bb:10:a1:ba
            [userId] => 2
            [message] => 00:26:bb:10:a1:ba was already in the room.
            [clientID] => 3
            [macAddress] => 00:26:bb:10:a1:ba
        )

    [4] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 6c:40:08:97:fe:c4
            [userId] => 1
            [message] => 6c:40:08:97:fe:c4 was already in the room.
            [clientID] => 3
            [macAddress] => 6c:40:08:97:fe:c4
        )

)
</pre>
2015-01-25 10:17:29: Chat Set -> 1
2015-01-25 10:17:29: UserName Set -> 14:10:9f:e2:ce:05
2015-01-25 10:17:29: MAC Address Set -> 14:10:9f:e2:ce:05
2015-01-25 10:17:29: 14:10:9f:e2:ce:05
2015-01-25 10:20:16: 10.10.30.211 (4) has connected.
2015-01-25 10:20:16: <pre>Array
(
    [0] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 4
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 2
        )

    [1] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 4
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 1
        )

    [2] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 4
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 3
        )

    [3] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 4
            [message] => You have joined the room.
            [clientID] => 4
        )

    [4] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 00:26:bb:10:a1:ba
            [userId] => 2
            [message] => 00:26:bb:10:a1:ba was already in the room.
            [clientID] => 4
            [macAddress] => 00:26:bb:10:a1:ba
        )

    [5] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 6c:40:08:97:fe:c4
            [userId] => 1
            [message] => 6c:40:08:97:fe:c4 was already in the room.
            [clientID] => 4
            [macAddress] => 6c:40:08:97:fe:c4
        )

    [6] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 14:10:9f:e2:ce:05
            [userId] => 3
            [message] => 14:10:9f:e2:ce:05 was already in the room.
            [clientID] => 4
            [macAddress] => 14:10:9f:e2:ce:05
        )

)
</pre>
2015-01-25 10:20:16: Chat Set -> 1
2015-01-25 10:20:16: UserName Set -> bc:85:56:f3:90:e7
2015-01-25 10:20:16: MAC Address Set -> bc:85:56:f3:90:e7
2015-01-25 10:20:16: bc:85:56:f3:90:e7
2015-01-25 10:21:12: 10.10.30.145 (2) has disconnected.
2015-01-25 10:21:14: 10.10.30.145 (2) has connected.
2015-01-25 10:21:14: <pre>Array
(
    [0] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 2
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 1
        )

    [1] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 2
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 3
        )

    [2] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 2
            [message] => [[USERNAME]] has joined the room.
            [clientID] => 4
        )

    [3] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => [[USERNAME]]
            [userId] => 2
            [message] => You have joined the room.
            [clientID] => 2
        )

    [4] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 6c:40:08:97:fe:c4
            [userId] => 1
            [message] => 6c:40:08:97:fe:c4 was already in the room.
            [clientID] => 2
            [macAddress] => 6c:40:08:97:fe:c4
        )

    [5] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => 14:10:9f:e2:ce:05
            [userId] => 3
            [message] => 14:10:9f:e2:ce:05 was already in the room.
            [clientID] => 2
            [macAddress] => 14:10:9f:e2:ce:05
        )

    [6] => Array
        (
            [chatId] => 0
            [responseType] => userJoin
            [userName] => bc:85:56:f3:90:e7
            [userId] => 4
            [message] => bc:85:56:f3:90:e7 was already in the room.
            [clientID] => 2
            [macAddress] => bc:85:56:f3:90:e7
        )

)
</pre>
2015-01-25 10:21:14: Chat Set -> 1
2015-01-25 10:21:14: UserName Set -> 00:26:bb:10:a1:ba
2015-01-25 10:21:14: MAC Address Set -> 00:26:bb:10:a1:ba
2015-01-25 10:21:14: 00:26:bb:10:a1:ba
