<apex:page showHeader="false" standardStylesheets="false" sidebar="true" controller="startHereController"  action="{!initPageAction}" pageStyle="background-color:red;">
    <!-- Load Session Id -->
    <script src="https://c.na14.visual.force.com/apex/loadSessionId?core.apexpages.devmode.url=1"></script>
    <!-- Load AJAX Toolkit -->
    <script src="https://na14.salesforce.com/soap/ajax/23.0/connection.js" type="text/javascript"></script>
    

    <script src="https://cebtgwy.ciscocebt.com/glwstatic/common/jquery/jquery-1.7.1.js"></script>

    <script type="text/javascript" src="https://cebtgwy.ciscocebt.com/glwstatic/common/cucm/src/ciscobase.js"></script>

    <!-- Jabber SDK - Audio -->
    <script type="text/javascript" src="https://cebtgwy.ciscocebt.com/glwstatic/common/jabber/sortElements.js"></script>
    <script type="text/javascript" src="https://cebtgwy.ciscocebt.com/glwstatic/common/cucm/src/cwic/cwic.js"></script>

    <!-- CAXL  -->
    <script type="text/javascript" src="https://cebtgwy.ciscocebt.com/glwstatic/common/jabber/jabberwerx.js"></script>

    <!--  JQuery UI -->

    <link rel="stylesheet" href="https://cebtgwy.ciscocebt.com/glwstatic/common/jquery/themes/base/jquery.ui.all.css"/>
    <script src="https://cebtgwy.ciscocebt.com/glwstatic/common/jquery/external/jquery.bgiframe-2.1.2.js"></script>
    
    <script src="https://cebtgwy.ciscocebt.com/glwstatic/common/jquery/ui/jquery.ui.core.js"></script>
    <script src="https://cebtgwy.ciscocebt.com/glwstatic/common/jquery/ui/jquery.ui.widget.js"></script>
    <script src="https://cebtgwy.ciscocebt.com/glwstatic/common/jquery/ui/jquery.ui.mouse.js"></script>
    <script src="https://cebtgwy.ciscocebt.com/glwstatic/common/jquery/ui/jquery.ui.draggable.js"></script>
    <script src="https://cebtgwy.ciscocebt.com/glwstatic/common/jquery/ui/jquery.ui.position.js"></script>
    <script src="https://cebtgwy.ciscocebt.com/glwstatic/common/jquery/ui/jquery.ui.resizable.js"></script>
    <script src="https://cebtgwy.ciscocebt.com/glwstatic/common/jquery/ui/jquery.ui.dialog.js"></script>
    <script src="https://cebtgwy.ciscocebt.com/glwstatic/common/jquery/ui/jquery.ui.dialog.js"></script>
    <script src="https://cebtgwy.ciscocebt.com/glwstatic/common/jquery/ui/jquery.ui.tabs.js"></script>
    <script src="https://cebtgwy.ciscocebt.com/glwstatic/common/jquery/ui/jquery.ui.button.js"></script>
    
    <!-- Demo Specific -->
    <script>
        var resource = "/outerdemo";        
    </script>
    <script src="https://cebtgwy.ciscocebt.com/glwstatic/sfdc/cisco.sfdc.common.js"></script>
    <script src="https://cebtgwy.ciscocebt.com/glwstatic/sfdc/cisco.sfdc.userprovider.js"></script>   
    <script src="https://cebtgwy.ciscocebt.com/glwstatic/sfdc/cisco.sfdc.js"></script>
    <link rel="stylesheet" href="https://cebtgwy.ciscocebt.com/glwstatic/sfdc/cisco.sfdc.css"/>
    <link rel="stylesheet" href="https://cebtgwy.ciscocebt.com/glwstatic/sfdc/cisco.sfdc.inner.css"/>
    
    <apex:outputPanel layout="block"  id="iframe" rendered="true">

<div style="display: block; height: 100%; width: 100%;">
<iframe src="https://na14.salesforce.com/{!$CurrentPage.parameters.cid}" height="100%" width="100%;" style="border: none;"></iframe>
 </div>
<div style="display: none;">


     <!--  CHAT Dialog Container -->
     <div id="chatDialog" title="Salesforce Jabber Client" >
        <div id="chatTabs" style="height: 550px; width: 370px;">
            <ul>
                <li><a href="#phone-panel" class="phone-tab-img chat-tab-label">&nbsp;</a></li>
            </ul>
            <div id="phone-panel">
                <span class="phone-number"><input type="text" class="phone-number-input"/></span>
                <span class="phone-action"><button>Dial</button></span>
                <p id="phone-status"></p>               
                <!-- Remote Video Container -->
                <div id="callcontainer" class="callcontainer">
                    <div id="videocontainer">
                        <div class="videocontainer">
                            <div id="remotevideocontainer" class="videocontainer" tabindex="999"></div>                                             
                        </div>
                    </div>
                </div>
                <!-- Local Video Container -->
                <div class="videocontainer" id="localPreviewContainer" style="display:none; padding-top: 5px;">
                    <p><span style="padding: 5px;">Local Preview</span><span style="padding: 5px;"><input name="showlocalvideo" type="radio" value="On">On</input><input name="showlocalvideo" type="radio" checked="checked" value="Off">Off</input></span></p>
                    <div id="localvidcontainer" tabindex="998"></div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Tab Template -->
    <textarea class="tab-button-template">
        <li><a class="chat-tab-label" href='#{href}'><span class="chat-tab-label-text">#{label}</span><span class="ui-icon-close">&nbsp;&nbsp;&nbsp;</span></a></li>
    </textarea>
    
    <!-- Tab Panel Template -->
    <textarea class="tab-panel-template">
        <div class="tabs-panel">    
            <div class="chat-tab-content-call-info">
                <span class="phone-number"></span>
                <span class="phone-action"><button></button></span>
                <span class="phone-state"></span>
            </div>      
            <div class="chat-tab-content-chat"></div>
            <div class="chat-tab-content-input-container"><input type="text" style="width: 100%;" class="chat-tab-content-input"/></div>
        </div>
    </textarea>
    
    <!-- Phone Conatiner -->
    <div id="phonecontainer"></div>
</div>

        
    </apex:outputPanel>
</apex:page>