body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 12px;
}

.jabber-container {
	margin-left: 2px;	
}

.jabber-container span {
	background-image: url('./images/icons.png');
	background-repeat: no-repeat;
	width: 12px;	 
	display: inline-block;
	margin-left: 1px;
	margin-right: 2px;	
} 

.presence {
	cursor: default;
}

.clickim {
	background-position: -17px 5px;
	cursor: pointer;
}

.clickcall {
	background-position: -17px -25px;
	cursor: pointer;
} 

.online {
	background-position: 0px 5px;
}

.offline {
	background-position: 0px -85px;
}

.away {
	background-position: 0px -25px;
}

.dnd {
	background-position: 0px -55px;
}
