html,body,form 
{ 
	height: 100%;	 
}

body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 12px;
	margin: 0px;
	padding: 0px;	
}


iframe.content {
	border: none;
	display:block; 
	width:100%; 
	height:100%;
}

.ui-icon-close {
	background-image: url("./images/popup_close.png");
	background-repeat: no-repeat;
	display: inline;	
	background-position: 5px 0px;
	cursor: pointer;
}

.tab-button-template {
	display: none;
}
.tab-panel-template {
	display: none;
}

/** Tab Button **/


/** Tab Panel   **/

.tabs-panel {
	padding: 0px; 
	margin: 0px;
}

.chat-tab-content-call-info {
	height: 30px;
	border-bottom: 1px solid black;
}

.phone-number {
	background-image: url("./images/ipphone.jpg");
	background-repeat: no-repeat;
	padding-left: 35px;	
}

.phone-tab-img {
	background-image: url("./images/phone.png");
	background-repeat: no-repeat;
	background-position: 5px 5px;	
}

.chat-tab-content-chat {
	overflow: auto; 
	height: 430px;
}

.chat-tab-content-input-container {
	height: 30px;
	padding-right: 5px;
}

.chat-tab-content-input {
	width: 100%;
	border: 1px solid black;
}


.chatDialog>.ui-dialog-content {
	background-color: #CFEEF8;
	height: 600px;
}

.chat-tab-content-chat > p {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 12px;
	padding-left: 20px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #ECECEC;
}

div.ui-dialog-titlebar {
	background-image: url("./images/chatTitleBgr.png");
	color: white;
}

.chat-tab-label {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 12px;	
}

.chat-contact {
	background-image: url("./images/contact.png");
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 12px;
	padding-left: 20px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #ECECEC;
}

.chat-me {
	background-image: url("./images/me.png");
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 12px;
	padding-left: 20px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #ECECEC;
}

/*
        div.videocontainer {
            position: relative;
        }

        div#videocontainer {
            position: relative;
            min-height: 273px;
            min-width: 364px;
            overflow: hidden;
            background-color: #c0c0c0;
            resize: both;
            padding: 5px;
            border: 1px solid #808080;
        }

        div#videocontainer object {
            position: relative;
            min-height: 273px;
            height: 100%;
            width: 100%;
        }

        
      div#localPreviewContainer {
            border: 1px solid black;
            display: inline-block;
            vertical-align: top;
        }

        div#localPreviewContainer object {
            min-height: 150px;
            height: 100%;
            width: 100%;
        }

        div#localPreviewContainer div#localvidcontainer {
            min-height: 150px;
            min-width: 272px;
            max-width: 400px;
            resize: both;
            overflow: hidden;
            padding: 5px;
            border: 1px solid #808080;
            background-color: #c0c0c0;
        }
*/

	iframe#pinpwindow {
            /*display: none;*/
/*            position: absolute;*/ 
            border: 0;
            margin: 0;
            padding: 0;
            width: 25%;
            height: 25%;
            top: 70%;
            left: 70%;
        }


.cebt {
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-size: 12px;
	padding-bottom: 5px;
	
}

.cebt-notification  {
}

.cebt-action-container {
	
}

.cebt-recipient-container span.recipient {
	display: block;
}

