<!-- Load Session Id -->
<script src="https://c.na9.visual.force.com/apex/loadSessionId?core.apexpages.devmode.url=1"></script>
<!-- Load AJAX Toolkit -->
<script src="https://na9.salesforce.com/soap/ajax/23.0/connection.js" type="text/javascript"></script>
<!--  JQuery Core -->
<script src="http://localhost:9080/jabber3/common/jquery/jquery-1.7.1.js"></script>
<!-- CAXL  -->
<script type="text/javascript" src="http://localhost:9080/jabber3/common/jabber/jabberwerx.js"></script>
<script type="text/javascript" src="http://localhost:9080/jabber3/common/jabber/sortElements.js"></script>
<!--  JQuery UI -->
<link rel="stylesheet" href="http://localhost:9080/jabber3/common/jquery/themes/base/jquery.ui.all.css">
<script src="http://localhost:9080/jabber3/common/jquery/external/jquery.bgiframe-2.1.2.js"></script>
<script src="http://localhost:9080/jabber3/common/jquery/ui/jquery.ui.core.js"></script>
<script src="http://localhost:9080/jabber3/common/jquery/ui/jquery.ui.widget.js"></script>
<script src="http://localhost:9080/jabber3/common/jquery/ui/jquery.ui.mouse.js"></script>
<script src="http://localhost:9080/jabber3/common/jquery/ui/jquery.ui.draggable.js"></script>
<script src="http://localhost:9080/jabber3/common/jquery/ui/jquery.ui.position.js"></script>
<script src="http://localhost:9080/jabber3/common/jquery/ui/jquery.ui.resizable.js"></script>
<script src="http://localhost:9080/jabber3/common/jquery/ui/jquery.ui.dialog.js"></script>
<script src="http://localhost:9080/jabber3/common/jquery/ui/jquery.ui.dialog.js"></script>
<script src="http://localhost:9080/jabber3/common/jquery/ui/jquery.ui.tabs.js"></script>
<!-- Demo Specific -->
<script>
    var commandFrameSrc = "https://c.na9.visual.force.com/apex/JabberCommand";
	var resource = "/innerdemo";
</script>
<script src="http://localhost:9080/jabber3/sfdc/cisco.sfdc.common.js"></script>
<script src="http://localhost:9080/jabber3/sfdc/cisco.sfdc.userprovider.js"></script>
<script src="http://localhost:9080/jabber3/sfdc/cisco.sfdc.inner.js"></script>
<link rel="stylesheet" href="http://localhost:9080/jabber3/sfdc/cisco.sfdc.inner.css" type=""/>
<div id="jsCommandContainer" style="display: none;"></div>